<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      charset="UTF-8"
    />
    <title>Postal Rate Result</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="header container text-center">
      <h1>Calculator Result</h1>
    </div>

    <div class="form-container container text-center">
      <h3>A <%=weight%> oz <%=type%> would cost you:</h3>
      <h3>$<%=result%></h3>
    </div>
  </body>
</html>
